@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    max-width: 100%;
    padding: 0 1rem;
}

* {
    transition: all 0.3s;
}

#map-container {
    position: absolute; 
    bottom: 0;
    left: 0;
    z-index: 1; 
  }
  
  header {
    background-color: white;
    position: relative;
    z-index: 10; 
  }